<div class="div1">
    <div class="contact-detail">
        <img class="profile-pic" src="https://github.com/AnujKumar1801/pics/blob/main/profilepic.jpg?raw=true"
            alt="Profile Picture">
        <h2>Anuj Tiwari</h2>
        <p>Business Finance Analyst</p>
        <ul>
            <li><i class="fas fa-envelope" style="font-size: small;"></i> anujnau8844@gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Noida, U.P</li>
            <li><i class="fas fa-phone"></i> +91 9039613546</li>
            <li><i class="fab fa-linkedin"></i> <a href="#">LinkedIn</a></li>
            <li><i class="fab fa-github"></i> <a href="#">GitHub</a></li>
        </ul>
    </div>
</div>